/* Global Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background: linear-gradient(to bottom, #f8f0ff, #6c25f900);
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 0 20px;
    box-sizing: border-box;
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    width: 100%;
    max-width: 1500px;
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
}

.logo img {
    width: 65px;
    margin-right: 0px;
}

header {
    display: flex;
    justify-content: space-between; /* Ensures logo and buttons are spaced evenly */
    align-items: center; /* Centers items vertically */
    padding: 10px 20px; /* Adjust padding as needed */
}

.followme,
.figma {
    display: flex;
    font-family: fredoka;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: #000000;
    color: white;
    text-decoration: none;
    padding: 15px 20px; /* Reduced padding for mobile */
    border-radius: 30px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    transition: background-color 0.3s;
}

.followme img,
.figma img {
    width: 25px; /* Adjust icon size as needed */
}

.followme:hover,
.figma:hover {
    transform: scale(1.1);
}

.button-container {
    display: flex; /* Use flex to place buttons in a row */
    gap: 20px; /* Space between buttons */
    margin-left: auto; /* Push the buttons to the right */
}


/* Hero Section Styles */
.hello {
    margin-top: 40px; /* Adjusted for mobile */
    margin-bottom: 30px; /* Adjusted for mobile */
}

h1 {
    font-family: fredoka; /* Replace with your desired font */
    font-size: 5vw; /* Responsive font size */
    font-weight: 800;
    text-align: center;
}

h5 {
    font-family: fredoka; /* Replace with your desired font */
    margin-top: 10px;
    margin-bottom:30px;
    font-size: 1.3vw; /* Responsive font size */
    font-weight: 600;
    text-align: center;
}

.gradient-text {
    background: linear-gradient(45deg, #B044FF, #5264FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

h6 {
    font-size: 3vw; /* Responsive font size */
    text-align: center;
    font-family: fredoka;
    font-weight: 300;
}

h1,
h6 {
    margin: 1px; /* Remove default margins */
}

/* Main Content Styles */
.main-content {
    text-align: center;
    line-height: 1.2;
    margin: 0px;
    width: 100%;
}

/* Gender Toggle Styles */
.gender-toggle {
    display: inline-flex;
    gap: 14px; /* Reduced gap for smaller screens */
    margin: 50px; /* Reduced margin for mobile */
    background: #ffffffd4;
    font-family: fredoka;
    padding: 10px;
    border-radius: 100px;
}

.gender-toggle button {
    padding: 10px 20px; /* Reduced padding for mobile */
    border: none;
    font-family: fredoka;
    background: #ffffff00;
    border-radius: 30px;
    font-size: 20px; /* Reduced font size */
    cursor: pointer;
    font-weight: 400;
    transition: all 0.3s ease;
}

.gender-toggle button.active {
    background: linear-gradient(45deg, #B044FF, #5264FF);
    color: white;
    padding: 15px 20px;
}

.gender-toggle button:hover {
    background-color: #d5c2f700;
}

/* Avatar Grid Styles */
.avatar-grid {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr)); /* Responsive grid */
    gap: 30px; /* Reduced gap */
    row-gap: 30px;
    max-width: 1400px;
    margin: 0px auto; /* Adjust margin */
    padding: 10px; /* Adjust padding */
}

.avatar {
    position: relative;
    cursor: pointer;
}

.avatar img {
    border-radius: 30px;
    width: 100%; /* Make image responsive */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover;
}

.avatar:hover img {
    filter: blur(5px);
    transform: scale(1.1);
}

.avatar .btn-download {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    font-family: fredoka;
    text-decoration: none;
    transform: translate(-50%, -50%);
    background: linear-gradient(45deg, #B044FF, #5264FF);
    color: white;
    border: none;
    border-radius: 30px;
    padding: 9px 17px; /* Reduced padding for mobile */
    font-weight: normal;
    cursor: pointer;
    display: none; /* Hidden by default */
}

/* Show button on hover */
.avatar:hover .btn-download {
    display: block; /* Show button on hover */
}

/* Color Input Styles */
#hex-color {
    width: 90%; /* Input width */
    height: 30px;
    padding: 10px;
    padding-left: 20px;
    border: 1px solid #e5e5e5;
    border-radius: 100px;
    font-size: 14px; /* Reduced font size */
    margin-bottom: 25px;
    outline: none;
    transition: border-color 0.3s;
}

#hex-color:focus {
    border-color: #a0a0a0;
    color: #000000;
}

/* Apply Button Styles */
#apply-color {
    background: linear-gradient(45deg, #B044FF, #5264FF);
    color: #ffffff;
    padding: 8px; /* Match padding with the input */
    width: 60%;
    height: 50px; /* Set height to match the input */
    border: none;
    border-radius: 100px;
    font-size: 14px; /* Reduced font size */
    cursor: pointer;
    transition: background-color 0.3s;
}

#apply-color:hover {
    background: #ffffff;
    color: #A45EE5;
    border: solid 1px;
}

/* Floating Button Styles */
.floating-btn {
    position: fixed;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    bottom: 50px;
    left: 90%;
    background: linear-gradient(45deg, #34cef9, #61ee2a, #d7cb28);
    color: white;
    border: none;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

.randomly-btn {
    position: fixed;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    bottom: 150px;
    left: 90%;
    background: linear-gradient(45deg, #B044FF, #5264FF);
    color: white;
    border: none;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

.makepng {
    position: fixed;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    bottom: 250px;
    left: 90%;
    background: linear-gradient(45deg, #ff4444, #ff8652);
    color: white;
    border: none;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

.randomly-btn:hover {
    background: #ffffff;
    color: #5264FF;
}

.floating-btn:hover {
    background: #ffffff;
    color: #61ee2a;
}

.makepng:hover {
    background: #ffffff;
    color: #ff4444;
}

/* Modal Overlay */
#color-picker-modal {
    display: none; /* Hide by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 1000; /* Make sure it's on top */
}

/* Modal Content */
.modal-content {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 30px;
    border-radius: 40px;
    width: 80%; /* Adjust width */
    max-width: 300px; /* Set max width */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Close Button */
.close {
    align-self: flex-end; /* Align close button to the right */
    font-size: 20px;
    color: #B044FF;
    cursor: pointer;
}



#story-section {
    background-color: rgba(237, 230, 255, 0.279); /* Slightly transparent background */
    max-width: 800px;
    font-family: fredoka;
    padding: 25px 50px; /* Add some padding */
    border-radius: 20px; /* Rounded corners */
    margin-top: 100px;
    margin-bottom: 0px; /* Space between the story and other content */
}


h2 {
    font-size: 30px;
}


#story-section p {
    font-size: 20px;
    line-height: 30px;
}



footer {
    background-color: #ffffff00; /* Dark background */
    color: rgb(0, 0, 0); /* White text */
    text-align: center; /* Center text */
    padding-top: 100px;
    padding-bottom: 20px;
    position: relative; /* Positioning */
    bottom: 0; /* Stick to bottom */
    width: 100%; /* Full width */
}

footer a {
    color: #6c25f9; /* Bright accent color for links */
    text-decoration: underline; /* Remove underline */
    margin: 0 5px; /* Spacing between links */
    transition: color 0.5s; /* Smooth color transition */
}

footer a:hover {
    color: #080808; /* Lighter color on hover */
}

footer p {
    margin: 10px 0 0; /* Spacing above paragraph */
    font-size: 14px; /* Smaller font for additional text */
}




/* Responsive Media Queries */
@media (max-width: 768px) {
    h1 {
        font-size: 8vw; /* Adjust font size for mobile */
    }

    h6 {
        font-size: 5vw; /* Adjust font size for mobile */
    }

    .followme {
        font-size: 12px; /* Reduced font size for mobile */
        padding: 12px 15px; /* Reduced padding for mobile */
    }

    .gender-toggle button {
        font-size: 18px; /* Adjusted for mobile */
    }

    #apply-color {
        width: 80%; /* Adjusted width for mobile */
    }
}
